PORT=5000
MONGODB_URI=mongodb://nazimnk9:Nazim456@ac-lbabgef-shard-00-00.nnrtduz.mongodb.net:27017,ac-lbabgef-shard-00-01.nnrtduz.mongodb.net:27017,ac-lbabgef-shard-00-02.nnrtduz.mongodb.net:27017/doctor_tracker?ssl=true&authSource=admin
JWT_SECRET=supersecretjwtkeyfordoctortracker2026
